@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    color: #bebebe;
    font-family: 'Dosis', sans-serif;
    background-color: #292929;
}

.container{
    border: 2px solid #bebebe;
    background-color: #1d1d1d;
    position: fixed;
    width: 100%;
}

div{
    position: relative;
    display: inline-block;
    border-right: 1px solid #bebebe;
    padding: 1rem 0;
    width: 16%;
    text-align: center;
}

.menu:last-child{
    border: none;
}

a{
    text-decoration: none;
    color: #bebebe;
    transition-duration: 250ms;
    display: block;
}

a:hover{
    text-decoration-line: underline;
    color: white;
    font-size: 2.5rem;
}

.menu:hover{
    background-color: #101010;
}

i{
    opacity: 0;
}

ul{
    display: none;
}

.menu:hover ul{
    display: table;
    text-align: left;
}

li{
    list-style-type: none;
}

@media screen and (max-width: 1040px){
    .menu{
        width: 15%;
    }
}

@media screen and (max-width: 460px){
    .menu{
        display: block;
        width: 100%;
        border: none;
        text-align: left;
    }

    .container{
        width: 32px;
        height: 32px;
        overflow: hidden;
    }

    .container:hover{
        width: 40%;
        height: auto;
    }

    .container:hover i{
        transform: rotate(90deg);
    }

    i{
        opacity: 100%;
    }

}
